<table width="725" height="371" border="0">
  <tr>
    <td width="70">&nbsp;</td>
    <td width="86">&nbsp;</td>
    <td width="58">&nbsp;</td>
    <td width="79">&nbsp;</td>
    <td colspan="2">&nbsp;</td>
    <td colspan="4">&nbsp;</td>
  </tr>
  <tr>
    <td rowspan="3">&nbsp;</td>
    <td rowspan="3"><img src="icon_pc.jpeg" alt="PC_1" width="50" height="56" /></td>
    <td width="58">&nbsp;</td>
    <td rowspan="3">&nbsp;</td>
    <td width="61" rowspan="3">&nbsp;</td>
    <td width="110" rowspan="3">&nbsp;</td>
    <td width="67" rowspan="3"><img src="icon_pc.jpeg" alt="PC_1" width="50" height="56" /></td>
    <td width="70">&nbsp;</td>
    <td width="86" rowspan="3">&nbsp;</td>
    <td width="86">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="70" rowspan="3"><img src="icon_pc.jpeg" alt="PC_1" width="50" height="56" /></td>
    <td width="86">&nbsp;</td>
    <td width="58" rowspan="3"><img src="icon_pc.jpeg" alt="PC_1" width="50" height="56" /></td>
    <td width="79">&nbsp;</td>
    <td width="61" rowspan="3"><img src="icon_pc.jpeg" alt="PC_1" width="50" height="56" /></td>
    <td width="110">&nbsp;</td>
    <td width="67" rowspan="3"><img src="icon_pc.jpeg" alt="PC_1" width="50" height="56" /></td>
    <td width="70">&nbsp;</td>
    <td width="86" rowspan="3">&nbsp;</td>
    <td width="86">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="70" rowspan="3"><img src="icon_pc.jpeg" alt="PC_1" width="50" height="56" /></td>
    <td width="86">&nbsp;</td>
    <td width="58" rowspan="3"><img src="icon_pc.jpeg" alt="PC_1" width="50" height="56" /></td>
    <td width="79">&nbsp;</td>
    <td width="61" rowspan="3"><img src="icon_pc.jpeg" alt="PC_1" width="50" height="56" /></td>
    <td width="110">&nbsp;</td>
    <td width="67" rowspan="3"><img src="icon_pc.jpeg" alt="PC_1" width="50" height="56" /></td>
    <td width="70">&nbsp;</td>
    <td width="86" rowspan="3"><img src="icon_laptop.jpeg" alt="lp_1" width="46" height="50" /></td>
    <td width="86">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="70" rowspan="3"><img src="icon_pc.jpeg" alt="PC_1" width="50" height="56" /></td>
    <td width="86">&nbsp;</td>
    <td width="58" rowspan="3"><img src="icon_pc.jpeg" alt="PC_1" width="50" height="56" /></td>
    <td width="79">&nbsp;</td>
    <td width="61" rowspan="3"><img src="icon_pc.jpeg" alt="PC_1" width="50" height="56" /></td>
    <td width="110">&nbsp;</td>
    <td width="67" rowspan="3"><img src="icon_pc.jpeg" alt="PC_1" width="50" height="56" /></td>
    <td width="70">&nbsp;</td>
    <td width="86">&nbsp;</td>
    <td width="86">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="70" rowspan="3"><img src="icon_pc.jpeg" alt="PC_1" width="50" height="56" /></td>
    <td width="86">&nbsp;</td>
    <td width="58" rowspan="3"><img src="icon_pc.jpeg" alt="PC_1" width="50" height="56" /></td>
    <td width="79">&nbsp;</td>
    <td width="61" rowspan="3"><img src="icon_pc.jpeg" alt="PC_1" width="50" height="56" /></td>
    <td width="110">&nbsp;</td>
    <td width="67" rowspan="3"><img src="icon_pc.jpeg" alt="PC_1" width="50" height="56" /></td>
    <td width="70">&nbsp;</td>
    <td width="86">&nbsp;</td>
    <td width="86">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="70" rowspan="3"><img src="icon_pc.jpeg" alt="PC_1" width="50" height="56" /></td>
    <td width="86">&nbsp;</td>
    <td width="58" rowspan="3"><img src="icon_pc.jpeg" alt="PC_1" width="50" height="56" /></td>
    <td width="79">&nbsp;</td>
    <td width="61" rowspan="3"><img src="icon_pc.jpeg" alt="PC_1" width="50" height="56" /></td>
    <td width="110">&nbsp;</td>
    <td width="67" rowspan="3"><img src="icon_pc.jpeg" alt="PC_1" width="50" height="56" /></td>
    <td width="70">&nbsp;</td>
    <td width="86">&nbsp;</td>
    <td width="86">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="70" rowspan="3"><img src="icon_pc.jpeg" alt="PC_1" width="50" height="56" /></td>
    <td width="86">&nbsp;</td>
    <td width="58" rowspan="3"><img src="icon_pc.jpeg" alt="PC_1" width="50" height="56" /></td>
    <td width="79">&nbsp;</td>
    <td width="61" rowspan="3"><img src="icon_pc.jpeg" alt="PC_1" width="50" height="56" /></td>
    <td width="110">&nbsp;</td>
    <td width="67" rowspan="3"><img src="icon_pc.jpeg" alt="PC_1" width="50" height="56" /></td>
    <td width="70">&nbsp;</td>
    <td width="86">&nbsp;</td>
    <td width="86">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
